[Desktop Entry]
Version=1.0
Type=Application
Name=terminal
Comment=terminal
Exec=/usr/bin/xfce4-terminal.wrapper
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
