Source: gooroom-artwork-common
Section: admin
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gooroom-artwork-common
Architecture: all
Depends: uim, uim-byeoru
Description: Gooroom Platform User Environments files
