[Desktop Entry]
Name=Gooroom Hangul Keymap
Name[ko]=노트북 한글키 사용
Comment=Enabled only when using the notebook's keyboard right Alt as Hangul key
Comment[ko]=노트북의 오른쪽 Alt키를 한글키로 사용할 경우에만 활성화 필요
Exec=xhangulkeymap
Encoding=UTF-8
Type=Application
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
